body{
    background-color: linen;
    /* border-style: double; */
    text-align: center;
}
form{
    text-align: center;
    background-color: pink;
    border-style:double;
    border-color: black;
    border-width: 5px;
    border-radius: 50px;
    font-size: large;
    
}